<%- include("./partials/header") %>
<h1>Your Friends</h1>

<%users.forEach(element => {%>

<li><%=element.userName%></li>
<!-- <p><%=element.userScholar%></p> -->

<%});%> <%- include("./partials/footer") %>
