<html>
    <head>
        <title>my blog</title>
        <!-- CSS only -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body class="text-center">
        
   
    <form action="/signin" method="POST">
    <main class="form-signin">
        <form>
          <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/en/f/f5/Jawahar_Navodaya_Vidyalaya_logo%2C_jnvlogo.jpg" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Please sign in</h1>
      
          <div class="form-floating">
            <input type="text" class="form-control" name="user" placeholder="Ex-vaasu" required autocomplete="off">
                    
          </div>
          <div class="form-floating" >
            <input type="number" name="scholar_no"  class="form-control" placeholder="schlolar no Ex-181117014" required autocomplete="off">
         
      
      
          <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2018–2022</p>
        </div>
        </form>
          <!-- <input type="text" name="user">
          <input type="number" name="scholar">
          <button type="submit" name="button"class="btn btn-secondary">signin</button>
      -->
</form>
</body>
</html>

